.header {
    display: flex;
    height: 100px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    background-color: lightgreen;

    &_links {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 24px;
    }

    &_link {
        color: #bdbdbd;
        font-weight: 700;
        font-size: 14px;
        line-height: 21px;
        padding: 0 10px;
    }

    &_link:first-child {
        color: #828282;
    }

    &_dropdown {
        background: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.3);
        border-radius: 32px;
        padding: 8px 16px;
        display: flex;
        align-items: center;
    }

    &_btn {
        background: #f2994a;
        border-radius: 32px;
        padding: 12px 24px;
        font-weight: 600;
        font-size: 14px;
        line-height: 22px;
        color: #f2f2f2;
    }
}
