.reviews {
    &_title {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        text-align: center;
        text-transform: capitalize;
        color: #f59e0b;
        padding: 8px 0 12px;
    }

    &_desc {
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        text-align: center;
        text-transform: capitalize;
        color: #1b1c57;
        padding-bottom: 40px;
    }

    &_swiper {
        // width: 100%;
        // display: flex;
        // justify-content: center;

        &_slide {
            width: 740px;
            height: 400px;
            position: relative;
            border-radius: 8px;
            @media(max-width: 760px) {
                    width: 80%;
                }

            &_content {
                width: 80%;
                height: 100%;
                background: #FFFFFF;
                box-shadow: 0px 9px 32px rgba(89, 92, 219, 0.05);
                border-radius: 16px;
                top: 256px;
                left: 10%;
                position: absolute;

                @media(max-width: 760px) {
                    width: 100%;
                    top: 300px;
                    left: 0;
                    border-radius: 0 0 16px 16px;
                }
            }

            &_title {
                font-weight: 600;
                font-size: 20px;
                line-height: 25px;
                text-transform: capitalize;
                color: #1b1c57;
                padding-bottom: 16px;
            }

            &_desc {
                font-size: 14px;
                line-height: 24px;
                color: #626687;
                opacity: 0.75;
            }

            &_user {
                display: flex;
                align-items: center;

                &_name {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 22px;
                    color: #0e1735;
                }

                &_role {
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 22px;
                    color: #888b97;
                }

                @media(max-width: 760px) {
                    flex-direction: column;
                    align-items: center;
                }
            }

            &_rating {
                font-weight: 600;
                font-size: 20px;
                line-height: 28px;
                color: #3c4563;
            }
        }
    }
}