.tour {
    padding-bottom: 140px;

    &_wrapper {
        display: flex;
        justify-content: space-between;

        @media (max-width: 960px) {
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: center;
        }
    }

    &_text {
        width: 50%;

        @media (max-width: 960px) {
            width: 100%;
        }
    }

    &_title {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        text-transform: capitalize;
        color: #f59e0b;
    }

    &_subtitle {
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        text-transform: capitalize;
        color: #1b1c57;
        padding: 12px 0 16px;
    }

    &_desc {
        font-size: 16px;
        line-height: 28px;
        color: #626687;
        opacity: 0.75;
    }

    &_details {
        &_title {
            font-weight: 600;
            font-size: 16px;
            line-height: 28px;
            color: #1B1C57;
            opacity: 0.75;
            padding: 16px 0;
        }
    }

    &_house {
        @media(max-width: 960px) {
            display: flex;
            justify-content: center;
        }

        &_stats {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 16px;
        }

        &_property {
            display: flex;
            align-items: center;

            &_title {
                color: #3C4563;
                font-size: 16px;
                font-weight: 500;
                text-transform: capitalize;
                padding-left: 16px;
            }
        }
    }

    &_video {
        width: 50%;
        background: linear-gradient(111.29deg,
                rgba(255, 255, 255, 0.53) -1.83%,
                rgba(255, 255, 255, 0) 109.95%);
        box-shadow: 50px 60px 100px rgba(0, 0, 0, 0.05);
        backdrop-filter: blur(35px);
        border-radius: 12px;
        padding: 35px 42px 37px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @media (max-width: 960px) {
            width: 100%;
        }

        &_wrapper {
            width: 520px;
        }

        &_btn {
            padding-bottom: 24px;
        }
    }
}