.tour {
    padding-bottom: 140px;

    &_wrapper {
        display: flex;
        justify-content: space-between;

        @media (max-width: 960px) {
            flex-direction: column;
            text-align: center;
            align-items: center;
            justify-content: center;
        }
    }

    &_text {
        width: 50%;

        @media (max-width: 960px) {
            width: 100%;
        }
    }

    &_title {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        text-transform: capitalize;
        color: #f59e0b;
    }

    &_subtitle {
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        text-transform: capitalize;
        color: #1b1c57;
        padding: 12px 0 16px;
    }

    &_desc {
        font-size: 16px;
        line-height: 28px;
        color: #626687;
        opacity: 0.75;
    }

    &_details {
        &_title {
            font-weight: 600;
            font-size: 16px;
            line-height: 28px;
            color: #1B1C57;
            opacity: 0.75;
            padding: 16px 0;
        }
    }

    &_house {
        @media(max-width: 960px) {
            display: flex;
            justify-content: center;
        }

        &_stats {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 16px;
        }

        &_property {
            display: flex;
            align-items: center;

            &_title {
                color: #3C4563;
                font-size: 16px;
                font-weight: 500;
                text-transform: capitalize;
                padding-left: 16px;
            }
        }
    }

    &_flex {
        @media(max-width: 420px) {
            display: flex;
            justify-content: space-around;
            align-items: center;

        }
    }

    &_user {
        display: flex;
        gap: 60px;
        padding-top: 68px;

        @media(max-width: 420px) {
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            padding: 0;
        }

        &_pfp {
            @media(max-width: 420px) {
                width: 100px;
                height: 100px;
            }
        }

        &_name {
            color: #0E1735;
            font-size: 18px;
            font-weight: 500;
            line-height: 24px;
        }

        &_role {
            color: #888B97;
            font-size: 16px;
            font-weight: 500;
            line-height: 24px;
        }

        &_contact {
            border-radius: 32px;
            background: #F2994A;
            display: inline-flex;
            padding: 12px 16px;
            align-items: center;
            color: #FFF;
            font-size: 14px;
            font-weight: 600;
            line-height: 22px;
        }
    }

    &_video {
        width: 50%;
        background: linear-gradient(111.29deg,
                rgba(255, 255, 255, 0.53) -1.83%,
                rgba(255, 255, 255, 0) 109.95%);
        box-shadow: 50px 60px 100px rgba(0, 0, 0, 0.05);
        backdrop-filter: blur(35px);
        border-radius: 12px;
        padding: 35px 42px 37px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        @media (max-width: 960px) {
            width: 100%;
        }

        &_wrapper {
            width: 520px;

            @media (max-width: 960px) {
                width: 100%;
            }
        }

        &_btn {
            padding-bottom: 24px;
        }
    }

    @media (max-width: 960px) {
        padding-bottom: 80px;

        &_wrapper {
            align-items: center;
        }

        &_text {
            width: 100%;
        }

        &_subtitle {
            font-size: 24px;
            line-height: 32px;
            padding: 8px 0 12px;
        }

        &_desc {
            font-size: 14px;
            line-height: 24px;
        }

        &_details_title {
            font-size: 14px;
            line-height: 24px;
            padding: 12px 0;
        }

        &_house_stats {
            grid-template-columns: 1fr;
        }

        &_house_property {
            align-items: flex-start;

            &_title {
                font-size: 14px;
                line-height: 22px;
            }
        }

        &_user {

            &_name {
                font-size: 16px;
                line-height: 20px;
            }

            &_role {
                font-size: 14px;
                line-height: 20px;
            }

            &_contact {
                padding: 8px 12px;
                font-size: 12px;
                line-height: 18px;
            }
        }

        &_video {
            padding: 25px 30px 30px;
            width: 100%;

            &_wrapper {
                width: 100%;
            }

            &_btn{
                visibility: hidden;
                height: 0px;
            }
        }
    }
}