.rectangle-deco {
    position: absolute;
}

.featured {
    &_wrapper {
        padding-bottom: 50px;
    }

    &_desc {
        font-weight: 500;
        font-size: 14px;
        line-height: 18px;
        text-transform: capitalize;
        color: #f59e0b;
    }

    &_title {
        font-weight: 600;
        font-size: 32px;
        line-height: 40px;
        text-transform: capitalize;
        color: #1b1c57;
    }

    &_nav {
        display: flex;
        justify-content: space-between;

        @media(max-width: 960px) {
            flex-direction: column;
            align-items: center;
            text-align: center;
            height: 200px;
            justify-content: space-between;
        }

        &_buttons{
            display: flex;
            justify-content: space-between;
            width: 50%;

            @media(max-width: 960px) {
                width: min-content;
            }
        }

        &_btn {
            border: 1px solid #e0e3eb;
            border-radius: 32px;
            padding: 14px 24px;
            display: flex;
            align-items: center;
            height: min-content;

            svg {
                fill: #888b97;
            }

            span {
                color: #888b97;
                padding-left: 8px;
                font-weight: 500;
                font-size: 18px;
                line-height: 28px;
            }

            &:hover {
                svg {
                    fill: #f2994a;
                }

                span {
                    color: #f2994a;
                }
            }
        }
    }

    &_swiper {    

        &_wrapper{
            max-width: 100vw;
        }

        &_slide {

            &_seller {
                display: flex;
                align-items: center;
            }

            &_title {
                font-weight: 500;
                font-size: 24px;
                line-height: 32px;
                color: #0e1735;
                padding: 24px 0 8px;
            }

            &_price {
                font-weight: 500;
                font-size: 20px;
                line-height: 32px;
                color: #3c4563;
                padding-bottom: 24px;
            }

            &_name {
                font-weight: 500;
                font-size: 18px;
                line-height: 24px;
                color: #0e1735;
                padding-bottom: 4px;
            }

            &_address {
                font-weight: 500;
                font-size: 14px;
                line-height: 22px;
                color: #888b97;
            }

            &_seller {
                display: flex;
                align-items: center;

                &_info {
                    padding-left: 16px;
                }
            }
        }

        &_nav {
            display: flex;
            width: 136px;
            justify-content: space-between;

            &_btn {
                background: #e0e3eb;
                border-radius: 32px;
                padding: 12px 16px;
                display: flex;
                align-items: center;
                height: min-content;

                svg {
                    fill: #3c4563;
                }

                &:hover {
                    background: #f2994a;

                    svg {
                        fill: white;
                    }
                }
            }
        }
    }
}
