.first {

    &_content{
        width: 50%;
    }

    &_title {
        font-family: 'Rubik';
        font-weight: 400;
        font-size: 40px;
        line-height: 55px;
        text-transform: capitalize;
        color: #1B1C57;
    }

    &_desc {
        font-weight: 400;
        font-size: 16px;
        line-height: 28px;
        color: #626687;
        opacity: 0.75;

    }

    &_search {
        border: 1px solid #E0E3EB;
        border-radius: 32px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 4px;

        &_input{
            border: none;
            width: 100%;
            height: 100%;
        }

        &_btn {
            background: #F2994A;
            border-radius: 32px;
            padding: 13px 16px;
            display: flex;
            align-items: center;
        }
    }

}

.section{
    &_right{
        display: flex;
    }
}